// out: ./styl.css, compress: true, sourceMap: true
@import 'normalize', 'rem', 'font', 'color', 'mixin', 'default';

/* basic */
$min-width: 320px;
$img-url: '../images';
$screen-size-pc: 1200px;
$screen-size-mobile: max($screen-size-pc);

// * {
//   @include ani(0.3s);
// }

html {
  min-width: $min-width;
  max-width: 100%;
  font-size: 14px;
  height: -webkit-fill-available;
}

html,
body {
  font-family: $myfont, 'Malgun Gothic', 'apple sd gothic neo', sans-serif;

  &.lock {
    height: 100vh;
    overflow: hidden;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  &.on{
    overflow: hidden;
    @media (min-width: $screen-size-pc) {
      overflow: auto;
    }
    
  }
  .container {
    @include container(100%);
    text-align: left;
    vertical-align: top;
    padding: 0 15px;

    @media (min-width: $screen-size-pc) {
      @include container($screen-size-pc);
      padding: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* header */
  header {
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:999;
    line-height: 50px;
    background:#0075bc;
		@include drop-shadow($x:0,$y: 3px, $blur: 6px, $spread: 0, $alpha: 0.16);
    text-align:center;

    &.out {
      background:#4B9B0A;
    }


    .container {

      text-align:center;

      h1{
        position:absolute;
        left:10px;
        top:50%;
        transform:translateY(-50%);
        font-size:0;
        margin:0;
        width:36px;

        a {
          display:block;
          height:36px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z'%3E%3C/path%3E%3C/svg%3E") no-repeat center / auto 26px;
        }

      }

      h2 {
        margin:0;
        color:#fff;
        font-weight:600;
        font-size:22px;
      }
    }
  }




  div#content {
    padding:60px 0;
    min-height:100vh;
    background:#efefef;

    section.form {
      background:#fff;
      padding:15px;
      margin:20px 0;
      @include drop-shadow($x:0,$y: 2px, $blur: 3px, $spread: 0, $alpha: 0.1);
      font-size:0;

      &>div {
        position:relative;
        margin:0 0 10px;
        padding:0;
        font-size:14px;

        &.half {
          display:inline-block;
          width:calc(50% - 5px);

          &.mr {
            margin-right:10px;
          }
        }

        strong {
          position:relative;
          display:block;
          z-index:2;
          margin:0 0 6px;
          font-size:14px;
          font-weight:14px;
          font-weight:500;

        }

        div {
          position:relative;
          padding:0 0 15px;
          margin:0;

          &:last-of-type {
            border:none;
            margin:0;
            padding:0;
          }


          &.period {
            font-size:0;

            p {
              display:inline-block;
              margin:0;
              width:45%;
              border:1px solid #ccc;
              border-radius:10px;
              background:#fafafa;

              input {
                width:calc(100% - 30px);
                border:none;
                font-size:14px;
                background:transparent;
                height:38px;
                padding:0 0 0 10px;
              }

              i {
                text-align:center;
                width:30px;
                font-size:16px;
                line-height:38px;
              }
            }

            span {
              display:inline-block;
              width:10%;
              text-align:center;
              font-size:14px;
            }
          }

          &.date {
            font-size:0;

            p {
              display:inline-block;
              margin:0;
              width:100%;
              border:1px solid #ccc;
              border-radius:10px;
              background:#fafafa;

              input {
                width:calc(100% - 30px);
                border:none;
                font-size:14px;
                background:transparent;
                height:38px;
                padding:0 0 0 10px;
              }

              i {
                text-align:center;
                width:30px;
                font-size:16px;
                line-height:38px;
              }
            }

          }

          &.input {

            p{
              margin:0;
              font-weight:600;
              border:1px solid #ccc;
              border-radius:10px;
              background:#fafafa;
              overflow:hidden;

              input {
                width:100%;
                border:none;
                font-size:14px;
                background:transparent;
                height:38px;
                padding:0 10px;
                text-align:center;

                &:read-only {
                  background:#e4e4e4;
                  color:#666;
                }
              }
            }

            &.half {
              font-size:0;

              p {
                display:inline-block;
                width:70%;

                &:last-of-type {
                  width:28%;
                  margin-left:2%;
                }
              }

            }
            
          }

          &.number {

            p{
              margin:0;
              border:1px solid #ccc;
              border-radius:10px;
              background:#fafafa;

              input {
                width:100%;
                border:none;
                font-size:18px;
                color:#0075bc;
                background:transparent;
                height:38px;
                padding:0 10px;
                text-align:center;
              }
            }

            
          }

          &.select {

            p{
              margin:0;
              border:1px solid #ccc;
              border-radius:10px;
              background:#fafafa;

              select {
                width:100%;
                border:none;
                font-size:14px;
                background:transparent;
                height:38px;
                padding:0 10px;
              }
            }
            
          }

        }

      }

      button {
        background:#444;
        color:#fff;
        margin:0;
        padding:0 10px;
        line-height:42px;
        font-size:16px;
        font-weight:500;
        border:none;
        width:100%;
        border-radius:10px;
        margin-top:10px;
        border-bottom:3px solid #000;

      }
    }

    section.grid {
      background:#fff;
      padding:0;
      margin:20px 0;
      @include drop-shadow($x:0,$y: 2px, $blur: 3px, $spread: 0, $alpha: 0.1);

      p.title {
        background:#222;
        color:#fff;
        line-height:38px;
        padding:0 15px;
        margin:0;

        span {
          padding:0 10px;

          strong {
            color:#FFC017;
          }
        }
      }

      table {
        width:100%;
        text-align:center;

        thead {
          background:#333;
          tr {
            th {
              border-right:1px solid #444;
              border-bottom:1px solid #444;
              padding:6px;
              color:#eee;
              font-weight:400;
            }
          }
        }

        tbody {
          background:#FDFDF3;

          &:nth-of-type(odd) {
            background:#FEFFE0;
          }

          tr {
            td {
              border-right:1px solid #ccc;
              border-bottom:1px solid #ccc;
              padding:6px;
            }
          }
        }
      }
    }


    section.button-set {
      position:fixed;
      z-index:1000;
      left:0;
      right:0;
      bottom:0;
      display:flex;
      @include drop-shadow($x:0,$y: -3px, $blur: 6px, $spread: 0, $alpha: 0.16);
      
      a,
      button {
        display:block;
        flex-grow:1;
        border:none;
        text-align:center;
        background:#444;
        color:#fff;
        margin:0;
        padding:0 10px;
        line-height:50px;
        font-size:16px;
        font-weight:500;

        &.main {
          background:#0075bc;
        }

        &.sub {
          background:#14547B;
        }
      }
    }
  }



  /* footer */
  footer#layout-footer {
    display:none;
  }
}
